<%# "locals" is the object containing the properties passed from
    res.render(). A property named 'username' can be referenced
    in two ways
    (A) As 'username' directly provided it is not undefined
    (B) As 'locals.username'
%>
<%

  locals.user = locals.profile || null;
  id="amzn1.ask.skill.479c8c69-349f-42f0-896a-7c6a8c3b267d";

%>
<%- include header.ejs %>

<div id=content class="container-fluid">
<div class=row >
  <nav class="nav flex-column" id="nav">
    <div class="nav-item">
      <a class="nav-link justify" href="/profile">User</a></div>
    <div class="nav-item">
    <a class="nav-link" href="/status">Status</a></div>
    <div class="nav-item">
    <a class="nav-link" href="/contacts">Contacts</a></div>

  </nav>


<main class="col" role="main">
<div class="container">
<%
  console.log("Data passed to the page:");
  data.forEach(function(contact){
    console.log(contact);
  %>

  <ul class="list-group mx-auto mt-5">
    <li class="list-group-item"><h2><h2></li>
    <li class="list-group-item border-bottom-0">User name: <%= contact.username %></li>
    <li class="list-group-item border-top-0 border-bottom-0">Email: <%= contact.email %></li>
    <li class="list-group-item border-top-0">Gender: <%= contact.gender %></li>
  </ul>
  <% }); %>
</div>
</main>
</div>


</div>
