<%# This is a EJS comment %>
<%# "locals" is the object containing the properties passed from
    res.render(). A property named 'username' can be referenced
    in two ways
    (A) As 'username' directly provided it is not undefined
    (B) As 'locals.username'
%>
<%
  // Set default values
  locals.username = locals.username || "";

  locals.user = locals.user || null;
%>
<%- include header.ejs %>

  <div class="container" id=content>
<!--
    <form action="/login" method=post >
      <h2 style="margin: 0 auto;"> Welcome!</h2>
      <h4 style="margin: 0 auto;"> Start using by linking with your Gmail account</h4>
      <div class="form-group mt-5 mx-auto" style="max-width: 300px;">
        <button id="signinButton" style="magin: 0 auto;" onclick="javascript:window.location.href='https://alexa-server-ck.herokuapp.com/chat';return false;">Sign in with Google</button>

      </div>
    </form>
-->
    <div class="card mx-auto mt-5" style="width: 100%; max-width:1000px;">
      <div class="card-body">
        <h5 class="card-title">Welcome!</h5>
        <p class="card-text">Start using by linking with your Google account</p>
        <a href='https://alexa-server-ck.herokuapp.com/profile' class="card-link"><img src="btn_google_signin_dark_normal_web.png"></a>
      </div>
    </div>



  </div>
